django==4.1.3

django-cors-headers
# pymysql
# mysqlclient==2.1.0

pytest
pytest-django
coverage

# TODO Start: [Student] Add dependency on uWSGI
uwsgi
django-mptt
pyjwt
pyyaml
cryptography
psycopg2
pymysql
mysqlclient==2.1.0
celery
redis
Redis
django-celery-beat
django-celery-results
supervisor==4.2.5
# TODO End: [Student] Add dependency on uWSGI
