django==4.2

django-cors-headers
# pymysql
# mysqlclient==2.1.0

pytest
pytest-django
coverage

# TODO Start: [Student] Add dependency on uWSGI
uwsgi
django-mptt
pyjwt
pyyaml
cryptography
psycopg2
pymysql
mysqlclient==2.1.0
celery
redis
django-celery-results
supervisor==4.2.5
apscheduler
django-apscheduler
django-simple-history
daphne
requests
asgiref==3.6.0
# TODO End: [Student] Add dependency on uWSGI
